<% content_for('body') do %>
<div class="mc-welcome">
  <img class="logo" src="<%= static_url('images/sproutcore-logo') %>" />
  <div class="message">
    <h1>Welcome!</h1>
    <h3>You are now running MineCore.</h3>
    <div class="sticky-note">
      <p>MineCore is a port of the classic minesweeper game to SproutCore.  It's a chance for me to learn how to use the platform and have some fun.</p>
    </div>
  </div>
</div>
<% end %>
